.sidebar {
	background-color: rgba($black, 0.95);
	color: $white;
	position: absolute;
	transition: transform 300ms $timing-func-1;
	z-index: 1000;

	&__header {
		align-items: center;
		display: flex;
		height: 20%;
		padding: 0 $pad-lg;
		text-transform: capitalize;

		&-title {
			font-size: $font-48;
			font-weight: $font-bold;
			height: calc(#{$font-48} + 18px);
		}

		&-icon {
			cursor: pointer;
			display: block;
			font-size: 30px;
			height: 1em;
			stroke-width: 0;
			transition: transform 250ms $timing-func-1;
			width: 1em;

			&:hover {
				transform: scale(1.3);
			}

			&--rotate {
				fill: $secondary;
				margin-left: auto;
			}

			&--close {
				fill: $danger;
				margin-left: 40px;
			}
		}
	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		height: 80%;
		margin-right: -15px;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 0 $pad-lg;

		&-col {
			margin-bottom: 20px;
			width: 50%;

			&-property {
				display: inline-block;
				margin-bottom: 10px;
			}

			.button {
				margin: 0 20px 20px 0;
			}
		}
	}

	&--bottom {
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		bottom: 0;
		height: 60%;
		left: 0;
		transform: translateY(100%);
		width: 100%;

		&.sidebar--open {
			transform: translateY(0);
		}
	}

	&--right {
		border-top-left-radius: $border-radius;
		bottom: 0;
		height: 100%;
		max-width: 100%;
		right: 0;
		top: 0;
		transform: translateX(100%);
		width: 750px;

		.sidebar__header {
			height: 14%;
		}

		.sidebar__body {
			height: 86%;

			&-col {
				width: 100%;

				&-property {
					font-size: $font-28;
				}
			}
		}

		&.sidebar--open {
			transform: translateX(0);
		}
	}
}
